{% extends 'admin/index.html.twig' %}
{% form_theme form_add_product 'bootstrap_4_layout.html.twig' %}

{% block title %}Dashboard - Add product{% endblock %}
{% block customStyles %}
    <link rel="stylesheet" href="{{ asset('build/admin.css')}}">
{% endblock %}

{% block main %}
<hr>
<div class="container">
    {% if page == "add" %}
        <h2 class="text-center mb-4">Add new product form</h2>
    {% else %}
        <h2 class="text-center mb-4">Edit product form</h2>
    {% endif %}
    
        {{ form_start(form_add_product) }}

            {{ form_row(form_add_product.title, {
                "label":"Product's name",
                "attr" : {
                    "placeholder":"my first product"
                    }
                }) 
            }}

            {{ form_row(form_add_product.picture, {
                "label":"Picture",
                "attr" : {
                    "placeholder":"https://i.picsum.photos/id/400/900/400.jpg"
                    }
                }) 
            }}

            {{ form_row(form_add_product.content, {
                "label":"Description",
                "attr" : {
                    "placeholder":"Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum ad beatae in excepturi deleniti nisi provident soluta minima cumque aliquam. Iusto tempora iure aperiam quod illum eum. Doloribus, sit perspiciatis.
                Ea aliquid, tempore nihil mollitia sunt ipsum ducimus nam culpa eius dolorum aut odit ipsa dolor fuga facilis, placeat totam accusamus nisi iste. Fuga mollitia impedit aspernatur nulla perferendis dolores!
                Nesciunt fugiat, suscipit eveniet laudantium sit ullam ipsam illum voluptas beatae maxime, iste ad praesentium similique "
                    }
               })  
            }}

            {{ form_row(form_add_product.price, {
                "label":"Price",
                "attr" : {
                    "placeholder":"10.99"
                    }
                }) 
            }}

            {{ form_row(form_add_product.stars, {
                "label":"Number of stars",
                "attr" : {
                    "placeholder":"4"
                    }
                }) 
            }}

    {% if page == "add" %}
        {{ form_row(form_add_product.save, {
                "label":"Add product"
                })
            }}
    {% else %}
        {{ form_row(form_add_product.save, {
                "label":"Edit product"
                })
            }}
    {% endif %}
            

        {{ form_end(form_add_product) }}
</div>
{% endblock %}